<%= form_for(@testis) do |f| %>
  <% if @testis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testis.errors.count, "error") %> prohibited this testis from being saved:</h2>

      <ul>
      <% @testis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :string %><br />
    <%= f.text_field :string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
