<h1 style="color:blue" >Listing logs</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Created at</th>
    <th>User</th>
    <th colspan="3"></th>

  </tr>

<% @logs.each do |log| %>
  <tr>
    <td><%= log.description %></td>
    <td><%= log.created_at %></td>
 	<td><%= log.user.email %></td>
    <td><%= link_to 'Visualizar', log, :class =>"button" %></td>
    <td><%= link_to 'Editar', edit_log_path(log), :class =>"button" %></td>
    <td><%= link_to 'Excluir', log, :confirm => 'Confirma exclusão?', :method => :delete, :class =>"button danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Log', new_log_path, :class =>"button primary" %>


