<p id="notice"><%= notice %></p>

<p>
  <b>usuário:</b>
  <%= @log.user.email %>
</p>
<p>
  <b>Título:</b>
  <%= @log.description %>
</p>

<p>
  <b>Descrição:</b>
  <%= @log.text %>
</p>

<table>
  <tr>
  	<td><%= link_to 'Voltar', logs_path, :class =>"button" %></td>
  	<td><%= link_to 'Editar', edit_log_path(@log), :class =>"button" %></td>
  </tr>
</table>